
{{ partial "header" . }}

{{ partial "header/header" . }}

<div class='container table-container'>
    {{ if or (eq .Params.category "resource")  (not .Params.category) }}

		<table border="0">
		<col width="20%">
  		<col width="80%">
       <tr><td><strong>Nombre</strong></td><td>{{ if (not .Params.corpus.link) }} {{ .Params.corpus.name }}
               {{ else }} <a href="{{ .Params.corpus.link }}">{{ .Params.corpus.name }} </a> {{end}}</td></tr>
       {{ if .Params.corpus.link }} <tr><td><strong>Liga </strong></td><td><a href="{{ .Params.corpus.link }}" target="_blank">{{ .Params.corpus.link }}</a></td></tr> {{end}}
		<tr><td><strong>Título </strong></td><td>{{ .Params.title }}</td></tr>
        <tr><td><strong>Presentado por </strong></td><td>{{partial "authors.html" (dict "authors" .Params.authors_abstract "size" (sub (len .Params.authors_abstract) 2))}}</td></tr>
        {{ if .Params.prev_version }}
        <tr><td><strong>Version anterior </strong></td><td>{{ if (not .Params.prev_version.link) }} {{ .Params.prev_version.name }}
               {{ else }} <a href="{{ .Params.prev_version.link }}">{{ .Params.prev_version.name }} </a> {{end}}</td></tr>
        {{end}}	
        {{ if .Params.languages }}
            <tr><td><strong>{{if gt (len .Params.languages) 1}} Lenguas {{else}} Language {{end}}</strong></td><td>
            {{ delimit .Params.languages ", " }}
        {{end}}	
		</td></tr>

        {{ if .Params.languages_codes }}
		<tr><td><strong>{{if gt (len .Params.languages_codes) 1}} Códigos de lenguas {{else}} Código de lengua {{end}}</strong></td><td>
		{{ delimit .Params.languages_codes ", " }}	
		</td></tr>
        {{end}}	

        {{ if .Params.gottlolog }}
		<tr><td><strong>{{if gt (len .Params.glottolog) 1}} Ligas a Glottolog {{else}} Liga a Glottolog {{end}}</strong></td><td>
			{{range .Params.glottolog}}
				<a href="{{.}}">{{.}}</a>
			{{end}}
		</td></tr>
        {{end}}	

        {{ if .Params.category }}
        <tr><td><strong>Categoría </strong></td><td><em>{{ .Params.category }}</em></td></tr>
        {{else}}
        <tr><td><strong>Categoría </strong></td><td><em>resource</em></td></tr>
        {{end}}
        {{ if .Params.status }}
        <tr><td><strong>Estado </strong></td><td><em>{{ .Params.status }}</em></td></tr>
        {{else}}
        <tr><td><strong>Estado </strong></td><td><em>available</em></td></tr>
        {{end}}

        <tr><td><strong>Tipo </strong></td><td><em>{{ .Params.type }}</em></td></tr>
		<tr><td><strong>Año </strong></td><td>{{ .Params.year }}</td></tr>
		</table>
	{{ end }}
</div>

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}




{{ partial "footer" . }}
