{{ partial "header" . }}

{{ partial "header/header" . }}

<div class='container table-container'>

		<table border="0">
		<col width="20%">
  		<col width="80%">
        {{ if .Params.corpus }}
       <tr><td><strong>Name</strong></td><td>{{ if (not .Params.corpus.link) }} {{ .Params.corpus.name }}
               {{ else }} <a href="{{ .Params.corpus.link }}">{{ .Params.corpus.name }} </a> {{end}}</td></tr>
       {{ if .Params.corpus.link }} 
       <tr><td><strong>Link </strong></td><td><a href="{{ .Params.corpus.link }}" target="_blank">{{ .Params.corpus.link }}</a></td></tr> 
       {{end}}
       {{end}}
        <tr><td><strong>Title </strong></td><td>{{ .Params.title }}</td></tr>
        <tr><td><strong>Presented by </strong></td><td>{{partial "authors.html" (dict "authors" .Params.authors_abstract "size" (sub (len .Params.authors_abstract) 2))}}</td></tr>
        {{ if .Params.prev_version }}
        <tr><td><strong>Previous version </strong></td><td>{{ if (not .Params.prev_version.link) }} {{ .Params.prev_version.name }}
               {{ else }} <a href="{{ .Params.prev_version.link }}">{{ .Params.prev_version.name }} </a> {{end}}</td></tr>
        {{end}}	
        {{ if .Params.languages }}
            <tr><td><strong>{{if gt (len .Params.languages) 1}} Languages {{else}} Language {{end}}</strong></td><td>
            {{ delimit .Params.languages ", " }}
        {{end}}	
		</td></tr>

        {{ if .Params.languages_codes }}
		<tr><td><strong>{{if gt (len .Params.languages_codes) 1}} Language codes {{else}} Language code {{end}}</strong></td><td>
		{{ delimit .Params.languages_codes ", " }}	
		</td></tr>
        {{end}}	

        {{ if .Params.gottlolog }}
		<tr><td><strong>{{if gt (len .Params.glottolog) 1}} Glottolog links {{else}} Glottolog link {{end}}</strong></td><td>
			{{range .Params.glottolog}}
				<a href="{{.}}">{{.}}</a>
			{{end}}
		</td></tr>
        {{end}}	

        {{ if .Params.category }}
        <tr><td><strong>Category </strong></td><td><em>{{ .Params.category }}</em></td></tr>
        {{else}}
        <tr><td><strong>Category </strong></td><td><em>resource</em></td></tr>
        {{end}}
        {{ if .Params.status }}
        <tr><td><strong>Status </strong></td><td><em>{{ .Params.status }}</em></td></tr>
        {{else}}
        <tr><td><strong>Status </strong></td><td><em>available</em></td></tr>
        {{end}}

        {{ if .Params.type_ }}
        <tr><td><strong>Type </strong></td><td><em>{{ .Params.type_ }}</em></td></tr>
        {{else}}
        <tr><td><strong>Type </strong></td><td><em>{{ .Params.type }}</em></td></tr>
        {{end}}
		<tr><td><strong>Year </strong></td><td>{{ .Params.year }}</td></tr>
		</table>
</div>

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}




{{ partial "footer" . }}
