.container {
    max-width: 80%;     
}

.menu li {
    text-transform: none;
    margin-right: 1.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.td {
  border-collapse: collapse;
  border: 1px solid pink;
  padding: 5px 10px;
}

.table {
  border-collapse: collapse;
  border-style: hidden;
}

.del {
    text-decoration: line-through;
}
