{{ partial "header" . }}

{{ partial "header/header" . }}

{{ if .Content }}
<div class='entry'>
  {{ partial "entry/content" . }}
</div>
{{ end }}

<div class='container table-container'>
	{{ range $k, $info := $.Site.Data.catalogue }}
    {{ if or (eq $info.category "resource")  (not $info.category) }}

    {{ if (not $info.corpus.link) }} <h3>{{ $info.corpus.name }}</h3>
	{{ else }} <h3> <a href="{{ $info.corpus.link }}">{{ $info.corpus.name }} </a></h3> {{end}}
		<table border="0">
		<col width="20%">
  		<col width="80%">
       {{ if $info.corpus.link }} <tr><td><strong>Liga </strong></td><td><a href="{{ $info.corpus.link }}" target="_blank">{{ $info.corpus.link }}</a></td></tr> {{end}}
		<tr><td><strong>Título </strong></td><td>{{ $info.title }}</td></tr>
        <tr><td><strong>Presentado por </strong></td><td>{{partial "authors.html" (dict "authors" .authors "size" (sub (len .authors) 2))}}</td></tr>
        {{ if $info.languages }}
            <tr><td><strong>{{if gt (len $info.languages) 1}} Lengua {{else}} Lenguas {{end}}</strong></td><td>
            {{ delimit $info.languages ", " }}
        {{end}}	
		</td></tr>

        {{ if $info.languages_codes }}
		<tr><td><strong>{{if gt (len $info.languages_codes) 1}} Códigos de lenguajes {{else}} Códigos de lengua {{end}}</strong></td><td>
		{{ delimit $info.languages_codes ", " }}	
		</td></tr>
        {{end}}	

        {{ if $info.gottlolog }}
		<tr><td><strong>{{if gt (len $info.glottolog) 1}} Glottolog links {{else}} Glottolog link {{end}}</strong></td><td>
			{{range $info.glottolog}}
				<a href="{{.}}">{{.}}</a>
			{{end}}
		</td></tr>
        {{end}}	

        {{ if $info.status }}
        <tr><td><strong>Estado </strong></td><td><em>{{ $info.status }}</em></td></tr>
        {{else}}
        <tr><td><strong>Estado </strong></td><td><em>available</em></td></tr>
        {{end}}

        <tr><td><strong>Tipo </strong></td><td><em>{{ $info.type }}</em></td></tr>
		<tr><td><strong>Año </strong></td><td>{{ $info.year }}</td></tr>
		</table>
	{{ end }}
	{{ end }}
</div>

{{ partial "footer" . }}
